<ion-view title="Edit Exercise">
  <ion-content padding="true" class="has-header">
    <form name="planForm" novalidate="" ng-submit="ctrl.updateExercise()">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="ctrl.exercise.title" placeholder="Exercise Title">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Type
          </div>
          <select>
            <option selected>Stammina</option>
            <option>Strength</option>
            <option>Stretch</option>
          </select>
        </label>
        <label class="item item-input">
          <textarea placeholder="Description"></textarea>
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.exercise.weight" placeholder="Weight">
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.exercise.duration" placeholder="Duration">
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.exercise.distance" placeholder="Distance">
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.exercise.numberOfSets" placeholder="# of Sets">
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.exercise.repsInSet" placeholder="# of repetions in a set">
        </label>
      </div>
      <button class="button button-full button-stable" type="submit">
        Update
      </button>
    </form>
  </ion-content>
</ion-view>
