<ion-view title="Training">
    <ion-content class="has-header">
    <div class="list card">
      <div class="item">
        <h2>{{ctrl.currentExercise.title}} <span class="item-note">{{ctrl.training.exercises | exercisesleftfilter }}</span></h2>
      </div>
      <div class="item">
        <button class="button" ng-click="ctrl.done(ctrl.currentExercise._id)">Done!</button>
        <button class="button" ng-click="ctrl.another(ctrl.currentExercise._id)">Another Exercise</button>
      </div>
      <div class="item">
        <div class="list">
          <label class="item item-input">
            <input type="number" ng-model="ctrl.currentExercise.weight" placeholder="Weight">
          </label>
          <label class="item item-input">
            <input type="number" ng-model="ctrl.currentExercise.duration" placeholder="Duration">
          </label>
          <label class="item item-input">
            <input type="number" ng-model="ctrl.currentExercise.distance" placeholder="Distance">
          </label>
          <label class="item item-input">
            <input type="number" ng-model="ctrl.currentExercise.numberOfSets" placeholder="# of Sets">
          </label>
          <label class="item item-input">
            <input type="number" ng-model="ctrl.currentExercise.repsInSet" placeholder="# of repetions in a set">
          </label>
        </div>
      </div>
    </div>
    </ion-content>
</ion-view>
