<ion-view title="Statusimage">
  <ion-content padding="true" class="has-header">
    <h2>Status {{ctrl.statusimage.createdAt | fromNow}}</h2>
        <div>
            <p>
              {{ctrl.statusimage.comment}}
            </p>
        </div>
        <div ng-repeat="image in ctrl.statusimage.images" >
            <img src="{{image.url}}" width="100%" />
        </div>
  </ion-content>
</ion-view>
