<ion-view>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form name="planForm" novalidate="" ng-submit="ctrl.updatePlan()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="ctrl.plan.title" placeholder="Plan Title">
        </label>
      </div>
      <button class="button button-full button-stable" type="submit">
        Update
      </button>
    </form>
    <ion-list>
      <div class="item item-divider">
          Exercises
      </div>
      <div class="item item-button-right" ng-repeat="exercise in ctrl.exercises">
        {{exercise.title}}
        <button ng-hide="ctrl.isInPlan(exercise._id)" class="button button-positive" ng-click="ctrl.toggleExercise(exercise._id)">
          Add
        </button>
        <button ng-show="ctrl.isInPlan(exercise._id)" class="button button-positive" ng-click="ctrl.toggleExercise(exercise._id)">
          Remove
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
