<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Fitness App</title>
  <base href="/">
</head>

<body>
  <ion-nav-view></ion-nav-view>
</body>
