<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="ctrl.newPlan()">
        New Plan
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">
        <label class="item item-input"  ng-repeat="plan in ctrl.plans" ng-click="ctrl.openSheet(plan._id)">
            <div class="input-label">
              {{plan.title}}
            </div>
        </label>
    </div>
  </ion-content>
</ion-view>
