<ion-view>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <h3>{{ctrl.user.username}}</h3>
      <div class="card">
        <i class="fa fa-user fa-6" ng-hide="ctrl.showAvatar"></i>
        <img id="avatar" src="{{ctrl.profileAvatar}}" width="100%" ng-show="ctrl.showAvatar" >
      </div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="date" ng-change="ctrl.dateDidChange()" ng-model="ctrl.defaultDate">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Gender
          </div>
          <select ng-model="ctrl.profile.gender" ng-change="ctrl.changeselect()">
            <option valie="male" ng-selected="ctrl.profile.gender == 'male'">Male</option>
            <option value="female" ng-selected="ctrl.profile.gender == 'female'">Female</option>
          </select>
        </label>
      </div>
      <button class="button button-full button-stable" ng-click="ctrl.addImage()" type="submit">
        Change Avatar
      </button>
    </ion-content>
</ion-view>
