<ion-view title="Exercises">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="ctrl.newExercise()">
          New Exercise
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list">
        <label class="item item-input" ng-repeat="exercise in ctrl.exercises" ng-click="ctrl.openSheet(exercise._id)">
          <div class="input-label">
            {{exercise.title}}
          </div>
        </label>
      </div>
    </ion-content>
</ion-view>
