<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item href="/sidemenu/plans" menu-close="">Plans</ion-item>
        <ion-item href="/sidemenu/exercises" menu-close="">Exercises</ion-item>
        <ion-item href="/sidemenu/measurements" menu-close="">Measurements</ion-item>
        <ion-item href="/sidemenu/statusimages" menu-close="">Status</ion-item>
        <ion-item href="/sidemenu/profile" menu-close="">Profile</ion-item>
        <ion-item ng-click="sidemenu.logout()">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
