<ion-view title="Statusimage List">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="ctrl.newStatusimage()">
      New Status
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">
        <label class="item item-thumbnail-left"  ng-repeat="statusimage in ctrl.statusimages" ng-click="ctrl.openSheet(statusimage._id)">
          <img src="{{statusimage.images[0].url}}">
          <h2>Status {{statusimage.createdAt | fromNow}}</h2>
          <p>{{statusimage.comment}}</p>
        </label>
    </div>
  </ion-content>
</ion-view>
