<ion-view title="New Statusimage">
  <ion-content padding="true" class="has-header">
    <form name="statusimagesForm" novalidate="" >
      <div class="list">
        <label class="item item-input">
          <textarea placeholder="Description"></textarea>
        </label>
      </div>

      <div class="list" id="imgListItem1" style="display:none;" >
        <label class="item">
          <img id="img1" width="100%">
        </label>
      </div>

      <div class="list" id="imgListItem2" style="display:none;" >
        <label class="item">
          <img id="img2" width="100%">
        </label>
      </div>

      <div class="list" id="imgListItem3" style="display:none;" >
        <label class="item">
          <img id="img3" width="100%">
        </label>
      </div>


      <button class="button button-full button-stable" ng-click="ctrl.addImage()">
        Add New Image
      </button>
      <button class="button button-full button-stable" type="submit" ng-click="ctrl.saveStatus()">
        Save Staus
      </button>
    </form>
  </ion-content>
</ion-view>
