<ion-view >
  <ion-content padding="true" class="has-header">
    <form name="measurementForm" novalidate="" ng-submit="ctrl.newMeasurement()">
      <div class="list">
        <label class="item item-divider">
          Girth
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.measurement.upperarm" placeholder="Upper arm" />
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.measurement.chest" placeholder="Chest" />
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.measurement.waist" placeholder="Waist" />
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.measurement.thigh" placeholder="Thigh" />
        </label>

        <label class="item item-divider">
          Weight
        </label>
        <label class="item item-input">
          <input type="number" ng-model="ctrl.measurement.weight" placeholder="Weight" />
        </label>
      </div>
      <button class="button button-full button-stable" type="submit">
        Add New
      </button>
    </form>
  </ion-content>
</ion-view>
