<ion-view title="">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="ctrl.newMeasurement()">
        New Measurement
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list">
          <label class="item item-input"  ng-repeat="measurement in ctrl.measurements" ng-click="ctrl.openSheet(measurement._id)">
              <div class="input-label">
                {{measurement.createdAt | fromNow}}
              </div>
          </label>
      </div>
    </ion-content>
</ion-view>
