<ion-view>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form name="planForm" novalidate="" ng-submit="ctrl.createPlan()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="ctrl.plantitle" placeholder="Plan Title">
        </label>
      </div>
      <button class="button button-full button-stable" type="submit">
        Add New
      </button>
    </form>
  </ion-content>
</ion-view>
